<ion-card>
  <ion-card-header>
    <ion-card-title>Add expense</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form [formGroup]="expenseForm" (ngSubmit)="submit()">
      <ion-item>
        <ion-input
          min="0"
          type="number"
          label="Amount"
          labelPlacement="floating"
          formControlName="amount"
          [errorText]="getAmountErrorMessage()"
        />
      </ion-item>
      <ion-item lines="none">
        <ion-select
          label="Currency"
          labelPlacement="floating"
          formControlName="currency"
        >
          @for (currency of currencies; track currency) {
            <ion-select-option [value]="currency">
              {{ currency }}
            </ion-select-option>
          }
        </ion-select>
      </ion-item>

      <ion-button
        type="submit"
        expand="block"
        [disabled]="disableSubmit()"
      >
        Add Expense
        <ion-icon name="diamond" slot="end" class="ion-padding-start"></ion-icon>
      </ion-button>
    </form>
  </ion-card-content>
</ion-card>
