<ion-card>
  <ion-card-header>
    <ion-card-title>Add expense</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-input
        type="number"
        placeholder="Amount"
        [ngModel]="amount()"
        (ngModelChange)="amount.set($event)"
      />
    </ion-item>

    <ion-item>
      <ion-select
        label="Currency"
        labelPlacement="floating"
        [ngModel]="currency()"
        (ngModelChange)="currency.set($event)"
      >
        @for (currency of currencies; track currency) {
          <ion-select-option [value]="currency">{{ currency }}</ion-select-option>
        }
      </ion-select>
    </ion-item>

    <ion-button
        expand="block"
        (click)="submit()"
        [disabled]="loading() || !amount()"
    >
        Add Expense
    </ion-button>
  </ion-card-content>
</ion-card>
