<ion-card>
  <ion-card-header>
    <ion-card-title>Add expense</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>
      <ion-input
        type="number"
        placeholder="Amount"
        [ngModel]="amount()"
        (ngModelChange)="amount.set($event)"
      />
    </ion-item>

    <ion-item>
      <ion-select
        label="Currency"
        labelPlacement="floating"
        [ngModel]="currency()"
        (ngModelChange)="currency.set($event)"
      >
        <ion-select-option value="EUR">EUR</ion-select-option>
        <ion-select-option value="USD">USD</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button
        expand="block"
        (click)="submit()"
        [disabled]="loading()"
    >
        Add Expense
    </ion-button>
  </ion-card-content>
</ion-card>
